body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Bebas Neue', sans-serif;
}

.dark-theme {
    background-color: #343434;
}

.dark-theme #header {
    background: linear-gradient(152deg, #c74e03 0%, #000000 100%);
    transition: 0.5s;
}

